@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #475ed7;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header-wrap {
    @apply fixed w-screen flex justify-between p-4 md:px-12 z-10 transition-colors ease-in-out;
}

.header-logo {
    @apply text-2xl font-bold;
}

.header-right {
    @apply flex;
}

.header-menu {
    @apply font-bold mr-2;
}

@layer utilities {
    .bg-gradient-to-148deg {
        /*noinspection CssUnresolvedCustomProperty*/
        background-image: linear-gradient(148deg, var(--tw-gradient-stops));
    }
}

.background {
    @apply bg-gradient-to-148deg from-[#4F34CF] to-[#035FF8];
}

section {
    @apply transform-gpu;
}

.scene1-window-frame {
    background-color: white;
}

.scene1-window-frame-1 {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 0;
    transition: width, height;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}

.scene1-window-frame-1.active {
    height: 15vh;
}

.scene1-window-frame-2 {
    position: absolute;
    left: 0;
    width: 0;
    height: 100vh;
    transition: width, height;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}

@media (min-width: 1024px) {
    .scene1-window-frame-2.active {
        width: 10vh;
    }
}

.scene1-window-frame-3 {
    position: absolute;
    right: 0;
    width: 0;
    height: 100vh;
    transition: width, height;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}

@media (min-width: 1024px) {
    .scene1-window-frame-3.active {
        width: 10vh;
    }
}

.scene1-window-frame-4 {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 0;
    transition: width, height;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}

.scene1-window-frame-4.active {
    height: 45vh;
}

.youtube-video-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    @apply max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg
}

.youtube-video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

iframe.youtube-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
